.header__wrapper {
  padding: 9px 0;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav-item svg {
  color: $gray;
}

.header__nav-item:hover svg {
  color: $light-blue;
}

@media (min-width: 1280px) {
  .header {
    padding: 13px 0 9px;
    background-color: $light-blue;
  }

  .header__wrapper {
    padding: 0;
  }

  .header__nav-item:not(:last-of-type) {
    display: none;
  }
}
